= stylesheet_link_tag "resposta_formulario.css"

%h1 Gerenciamento - Resultados

.container
    - if @formularios.length > 0
        - @formularios.each do |form|
            = link_to new_formulario_path do        
                .card
                    %div
                        %p.texto-destaque= form.turma.disciplina.nome
                        %p.semestre= form.turma.semestre
                    %p.texto-destaque= (get_nome_professor form.turma)
    - else
        %p Nenhum formulário cadastrado!    